body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
}

.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}

h1{
    margin: 0;
}
h1 img{
    width: 28vh;
    height: 135px;
}

input[type="text"] {
    width: 77%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    color: #293f5a;
    background: transparent;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #c3e3f3;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #293f5a;
}

h2{
    color: #293f5a;
}

button {
    position: relative;
    right: -35%;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff3636;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }